html {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
	height: 100%;
	background-image: url(https://external-preview.redd.it/5XNzxTrtqfyb44L7SIJ69DG2bYV8um8Q41lx5nt4ug4.png?auto=webp&s=59065e00b9a6706716bc897d65910c762812a2ac);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

p,
input {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.App {
	border: 1px solid black;
	border-radius: 10px;
	padding: 12px;
	width: 800px;
	height: 300px;
	background-color: white;
}

/* Search Bar Stuff */

#searchcontainer {
	display: flex;
	height: 17%;
	width: 100%;
}

#weather-api-search {
	width: 100%;
	height: 40px;
	font-size: 18px;
}

#country {
	width: 10%;
	height: 40px;
	font-size: 18px;
}

.searchbutton {
	background-color: rgb(97, 185, 226);
	border: 2px solid rgb(175, 219, 240);
	border-radius: 3px;
	font-size: 18px;
}

#locationbutton {
	height: 40px;
	width: 10%;
}

#submit {
	height: 40px;
	width: 20%;
	align-self: flex-end;
}

form {
	display: flex;
	width: 90%;
	height: 40px;
}
/* Display Stuff */
#displaycontainer {
	display: flex;
	border-top: 1px solid black;
	margin-top: 10px;
	height: 83%;
}

#weathercontainer {
	border-right: 1px solid black;
	position: relative;
	width: 70%;
}

#haikucontainer {
	padding: 5px;
	width: 30%;
}

#location {
	font-size: 25px;
	position: absolute;
	width: 100%;
	left: 0%;
	top: 0%;
}

#temp {
	font-size: 25px;
	position: absolute;
	right: 10%;
	top: 10%;
}

#main {
	position: absolute;
	left: 5%;
	top: 10%;
}

#emoji {
	font-size: xx-large;
	position: absolute;
	left: 5%;
	top: 20%;
}

/* Haiku */

#bonushaiku {
	position: relative;
	left: 5%;
}

#haikumetadata {
	position: relative;
	bottom: -2rem;
	font-size: small;
}

.reveal {
	opacity: 100%;
	animation-name: show;
	animation-duration: 0.75s;
}

@keyframes show {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}

.hide {
	opacity: 0%;
}

.weatherdiv {
	position: absolute;
	bottom: 10%;
	font-size: large;
}

#descriptiondiv {
	left: 5%;
}

#humiditydiv {
	left: 40%;
}

#winddiv {
	left: 70%;
}

#credit {
	position: absolute;
	bottom: 1%;
	right: 1%;
	font-size: 0.7rem;
}
